/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 4, 2024, 12:04:25 PM
    Author     : LENOVO
*/
.btnEdit1{
    background-color: #007bff;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
     
}
.btnDelete{
    background-color: red;
    border: none;
    width: 50px;
    height: 30px;
    color: white;
    border-radius: 5px;
}

.btnEdit1:hover{
    background-color: #005f81;
    color:white;
}

.btnDelete:hover{
    background-color: #DB2828;
    color:white;
}